body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a8e063, #56ab2f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.runner {
    font-size: 50px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    animation: lari 2s infinite linear;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: bounce 2s infinite;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #27ae60;
}

#hasil {
    margin-top: 15px;
    font-weight: bold;
    color: #2c3e50;
}

/* Animasi */
@keyframes lari {
    0% { transform: translateX(-50%) translateX(-40px); }
    50% { transform: translateX(-50%) translateX(40px); }
    100% { transform: translateX(-50%) translateX(-40px); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}
